# Ignore the contents of the output folders,
# but keep the folders themselves tracked by Git
output_markdown_pages/*
output_pdf_pages/*
output_images/*


# Keep the folders in Git by tracking a hidden placeholder file
!output_markdown_pages/.gitkeep
!output_pdf_pages/.gitkeep
!output_images/.gitkeep


# Virtual environment
.venv/


# ?
.idea


# Windows
Thumbs.db
desktop.ini

